<section>
   <div class="contact-method">
    <span class="icon solid alt fa-envelope"></span>
    <h3>Email</h3>
    <a href="#">{{ email }}</a>
  </div>
</section>
<section>
  <div class="contact-method">
    <span class="icon solid alt fa-phone"></span>
    <h3>Phone</h3>
    <span> {{ phone }} </span>
  </div>
</section>
<section>
  <div class="contact-method">
    <span class="icon solid alt fa-home"></span>
    <h3>Address</h3>
    <span> {{ address|raw }}</span>
  </div>
</section>
